.container {
  margin: 0 auto;
}

input {
  display: none;
}

.labels {
  display: flex;
}

.slider-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
}

.slider-label span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 25% auto;
  border-radius: 50%;
}

.slides-container {
  width: 300px;
  overflow: hidden;
}

.slides-list {
  display: flex;
  transition: transform 0.5s ease-in;
}

.slide{
  min-width: 300px;
}

.slides-text-container {
  height: 100px;
  overflow: hidden;
}

.slides-text-list {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in;
}

.text-slide{
  min-height: 100px;
}

.slider-point-1:checked ~ .slides-container > .slides-list {
  transform: translateX(0px);
}

.slider-point-2:checked ~ .slides-container > .slides-list {
  transform: translateX(-300px);
}

.slider-point-3:checked ~ .slides-container > .slides-list {
  transform: translateX(-600px);
}

.slider-point-4:checked ~ .slides-container > .slides-list {
  transform: translateX(-900px);
}

.slider-point-5:checked ~ .slides-container > .slides-list {
  transform: translateX(-1200px);
}

.slider-point-1:checked ~ .slides-text-container > .slides-text-list {
  transform: translateY(0px);
}

.slider-point-2:checked ~ .slides-text-container > .slides-text-list {
  transform: translateY(-100px);
}

.slider-point-3:checked ~ .slides-text-container > .slides-text-list {
  transform: translateY(-200px);
}

.slider-point-4:checked ~ .slides-text-container > .slides-text-list {
  transform: translateY(-300px);
}

.slider-point-5:checked ~ .slides-text-container > .slides-text-list {
  transform: translateY(-400px);
}

.slider-point-1:checked ~ .labels > .slider-label:first-child span {
  background-color: plum;
}

.slider-point-2:checked ~ .labels > .slider-label:nth-child(2) span {
  background-color: plum;
}

.slider-point-3:checked ~ .labels > .slider-label:nth-child(3) span {
  background-color: plum;
}

.slider-point-4:checked ~ .labels > .slider-label:nth-child(4) span {
  background-color: plum;
}

.slider-point-5:checked ~ .labels > .slider-label:last-child span {
  background-color: plum;
}